.logout_btn{
    padding: 5px;
    background: #1b6101;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 2%;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }

  .logout_btn:hover{
    background: #32ad03;
  }