<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- SCRIPTS -->
    <script src="../js/accuweather.js"></script>
    <!-- SCRIPTS -->

  </head>
  <body>
    <input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left-area">
        <h3>Agri<span style="color:#19B3D3">Tech</span></h3>
      </div>
      <div class="right-area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>

    <!-- sidebar -->
    <div class="sidebar">
      <div class="profile_info">
        <img src="https://img.thrfun.com/img/007/595/tree_winter_x5.jpg" alt="" class="profile_image">
      </div>
      <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
      <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
    </div>
    <!-- sidebar -->

    <div class="content">
      <!-- main body -->
      <!-- =============================================================================== -->

      <div class="container-fluid" padding>
        <div class="row text-center" padding>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-code"></i>
            <h3>Vegetables</h3>
            <!-- <p>Description</p> -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-code"></i>
            <h3>Seeding date</h3>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fab fa-css3"></i>
            <h3>Predicted harvest date</h3>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-5">
      </div>
      <!-- Useful information -->
      <div class="container-fluid padding">
        <div class="row welcome text-center">
          <div class="col-12">
            <h1 class="display-6">Useful information</h1>
          </div>
          <hr class="my-3">
        </div>
        </div>

        <!-- Cards -->
        <div class="container-fluid padding">
          <div class="row padding">

            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="img/team.png">
                <div class="card-body">
                  <h4 class="card-title">Lettuce</h4>
                  <p class="card-text">Lettuce is a plant that grows...</p>
                  <a href="#" class="btn btn-outline-secondary">See more</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="img/team.png">
                <div class="card-body">
                  <h4 class="card-title">Fertilizer dosage</h4>
                  <p class="card-text">The amount of chemicals...</p>
                  <a href="#" class="btn btn-outline-secondary">See more</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="img/team.png">
                <div class="card-body">
                  <h4 class="card-title">Crop to plant</h4>
                  <p class="card-text">In summer the best...</p>
                  <a href="#" class="btn btn-outline-secondary">See more</a>
                </div>
              </div>
            </div>

          </div>
        </div>







      <!-- =============================================================================== -->

    </div>
  </body>
</html>
