body{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 735px;
  }
  
  header{
    position:fixed;
    /* background: #22242A; */
    background: rgba(34, 36, 42, 0.4);
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 60px;
    z-index: 1;
  }
  
  .left-area h3{
    color: #fff;
    margin-top: -30px;
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  
  .logout_btn{
    padding: 5px;
    background: #1b6101;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 2%;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  
  .logout_btn:hover{
    background: #6AEA81;
  }
  
  
  .sidebar{
    z-index: 1;
    top: 0;
    /* background: #2F323A; */
    background: rgba(34, 36, 42, 0.4);
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(94% - 7%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left:25%;
  }
  
  .sidebar a{
    color:#fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #32ad03;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #1b6101;
    position: fixed;
    cursor: pointer;
    left: 25px;
    font-size: 20px;
    margin-top: -10px;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #32ad03;
  }
  
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    /* margin-top: 60px; */
    padding: 20px;
    margin-left: 460px;
    /* background: url(https://harelmallac-my.sharepoint.com/personal/minoushkaj_harelmallac_com/Documents/Microsoft%20Teams%20Chat%20Files/060420-farm-agriculture-fieldsadobestock_303214121.jpeg) no-repeat;
    background-position: center;
    background-size: cover; */
    /* background-attachment: fixed; */
    height: 100vh;
    transition: 0.5s;
  }
  
  
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }

  #check:checked body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1600px;
  }
  
  #check{
    display: none;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: 30px;
    align-items: 30px;
  }
  
  .text-p{
    text-decoration: none;
    color: #fff;
  }
  
  .text-p:hover{
    color:#185202;
  }
  
  .card{
    margin-top: 25%;
    text-align: center;
    background: rgba(34, 36, 42, 0.4);
  }
  
  .card .card-header{
    color: #fff;
  
  }
  
  
  
  #humidity{
    color:#78e6ff;
  }
  
  
  #sunlight{
    color: #fffc30;
  }
  
  
  #temperature{
    color:#fa7c41;
  }
  
  .dashboardpng{
    width: 80px;
  }
  
  .cropCard{
          background: rgba(255, 255, 255, 0.85);
  }

  p{
      color: rgb(143, 126, 14);
      /* font-weight: bold; */
  }

  h4{
      color: #1b6101;
      /* -webkit-text-stroke-width: 0.5px; */
      -webkit-text-stroke-color: #1b6101;
  }
  
  .site-footer{
    background-color: rgb(34, 36, 42, 0.4);
    position: fixed;top: 617px;
    /* left: 10px; */
    width: calc(100% - 0%);
    height: 25px;
    margin-left: -10px;
  }
  
  .copyrightFont{
    /* margin-top: 1vw; */
    color: white;
  }

  @media only screen and (max-width: 1024px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 825px;
      /* background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-size: cover;
      height: 75vw; */
    }
    .content{
      margin-left: 280px;
    }

    .cardSizeFirst{
      width: 61vw;
    }

    .cardSizeSecond{
      width: 61vw;
    }

    .cardSize1{
      width: 15vw;
      /* margin-left: 3vw; */
    }

    .cardSize2{
      width: 16vw;
      margin-left: 2vw;
    }

    .cardSize3{
      width: 15vw;
      margin-left: 5vw;
    }

    .cardSize4{
      width: 15vw;
      margin-left: 7vw;
    }

    .cardSize5{
      width: 15vw;
      /* margin-left: 3vw; */
    }

    .cardSize6{
      width: 16vw;
      margin-left: 2vw;
    }

    .cardSize7{
      width: 15vw;
      margin-left: 5vw;
    }

    .cardSize8{
      width: 15vw;
      margin-left: 7vw;
    }
  
    .sidebar{
      /* left: -185px; */
      height: calc(94.2% - 5%);
    }
    .site-footer{
      /* background-color: rgb(34, 36, 42, 0.55); */
      position: fixed;top: 755px;
      width: 1350px;
      height: 25px;
      margin-left: -335px;
  }

  }

  @media only screen and (max-width: 768px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 1200px;
      /* background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-size: cover; */
      height: 140vw;
    }
  
    .sidebar{
      left: -185px;
      height: calc(97% - 5%);
    }
  
    .sidebar a span{
      display: none;
    }
  
    .sidebar a{
      font-size: 20px;
      margin-left: 165px;
      width: 100%;
    }
  
    .content{
      margin-left: 60px;
    }
  
    .upperRow{
      margin-top: 25px;
    }
  
    .sidebar .profile_info{
      display: none;
    }
  
    #check{
      display: none;
    }

    .content{
      margin-left: 120px;
    }

    .cardSizeFirst{
      width: 68vw;
    }

    .cardSizeSecond{
      width: 68vw;
    }

    .site-footer{
      /* background-color: rgb(34, 36, 42, 0.55); */
      position: fixed;top: 1020px;
      /* width: 1350px;
      height: 25px; */
      margin-left: -555px;
  }


  }
  /* @media only screen and (max-width: 600px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 1525px;
    }

  
.sidebar{
  left: -185px;
  height: 1000px;
}

.sidebar a span{
  display: none;
}

.sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  margin-left: 60px;
}

.sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}    
  } */
  
  
@media only screen and (max-width: 731px) {

  .site-footer{
      /* background-color: rgb(34, 36, 42, 0.55); */
      position: fixed;top: 387px;
      top: 373px;
      /* width: 1350px;
      height: 25px; */
      margin-left: -19px;
      padding-left: 300px;
  }


  .sidebar{
    height: calc(81.5% - 7%);
  }
}

@media only screen and (max-width: 360px) {

body {
  margin: 0;
  padding: 0;
  font-family:"Roboto", sans-serif;
  background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 1530px;
}
.site-footer{
    /* background-color: rgb(34, 36, 42, 0.55); */
    position: fixed;
    top: 645px;
    /* width: 1350px;
    height: 25px; */
    margin-left: -15px;
    padding-left: 30px;
}


.sidebar{
  height: calc(95% - 7%);
}

.content{
  width: (100% - 250px);
  /* margin-top: 60px; */
  padding: 20px;
  margin-left: 60px;
  /* background: url(https://harelmallac-my.sharepoint.com/personal/minoushkaj_harelmallac_com/Documents/Microsoft%20Teams%20Chat%20Files/060420-farm-agriculture-fieldsadobestock_303214121.jpeg) no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-attachment: fixed; */
  height: 100vh;
  transition: 0.5s;
}

.cardSizeFirst{
  width: 61vw;
}

.cardSizeSecond{
  width: 61vw;
}

.cardSize1{
  width: 61vw;
  /* margin-left: 3vw; */
}

.cardSize2{
  width: 61vw;
  margin-left: 0vw;
}

.cardSize3{
  width: 61vw;
  margin-left: 0vw;
}

.cardSize4{
  width: 61vw;
  margin-left: 0vw;
}

.cardSize5{
  width: 61vw;
  /* margin-left: 3vw; */
}

.cardSize6{
  width: 61vw;
  margin-left: 0vw;
}

.cardSize7{
  width: 61vw;
  margin-left: 0vw;
}

.cardSize8{
  width: 61vw;
  margin-left: 0vw;
}

.cropCard{
  margin-left: 10px;
}
}