/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

body{
  /* margin: 0; */
  /* padding: 0; */
  /* font-family:"Roboto", sans-serif; */
    /* background-position: center; */
  background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
  background-size: cover;
  height: 75vw;
}

header{
  position:fixed;
  /* background: #22242A; */
  background: rgba(34, 36, 42, 0.55);
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 60px;
  z-index: 1;
}

.left-area h3{
  color: #fff;
  margin-top: -30px;
  margin-left: 60px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}


.logout_btn{
  padding: 5px;
  background: #1b6101;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 2%;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}


.logout_btn:hover{
  background: #32ad03;
}


.sidebar{
  z-index: auto;
  top: 0;
  background: rgba(34, 36, 42, 0.55);
  margin-top: 60px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 7%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  /* background: #2F323A; */
}


.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left:25%;
}

.sidebar a{
  color:#fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #32ad03;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #1b6101;
  position: fixed;
  cursor: pointer;
  left: 25px;
  font-size: 20px;
  margin-top: -10px;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #32ad03;
}


#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  padding: 20px;
  margin-left: 250px;
  height: 100vh;
  transition: 0.5s;
  /* margin-top: 60px; */
  /* background: url(https://harelmallac-my.sharepoint.com/personal/minoushkaj_harelmallac_com/Documents/Microsoft%20Teams%20Chat%20Files/060420-farm-agriculture-fieldsadobestock_303214121.jpeg) no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-attachment: fixed; */

}



#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: 30px;
  align-items: 30px;
}

.text-p{
  text-decoration: none;
  color: #fff;
}

.text-p:hover{
  color:#185202;
}

.card{
  margin-top: 25%;
  text-align: center;
  background: rgba(34, 36, 42, 0.7);
}

.card .card-header{
  color: #fff;

}



#humidity{
  color:#78e6ff;
}


#sunlight{
  color: #fffc30;
}


#temperature{
  color:#fa7c41;
}

.dashboardpng{
  width: 80px;
}

#weatherPic{
  width: 65px;
  height: 60px;
}

/* @media only screen and (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
  }

  .sidebar{
    height: calc(100% - 15%);
  }

.sidebar a span{
  display: none;
}

.sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  margin-left: 60px;
}

.sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}
} */
@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1200px;
    /* background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-size: cover;
    height: 75vw; */
  }

  /* .sidebar{
    left: -185px;
    height: calc(100% - 5%);
  }

  .sidebar a span{
    display: none;
  }

  .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }

  .content{
    margin-left: 60px;
  } */

  .upperRow{
    margin-top: 25px;
  }

  /* .sidebar .profile_info{
    display: none;
  }

  #check{
    display: none;
  } */
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1200px;
    /* background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-size: cover;
    height: 75vw; */
  }

  .sidebar{
    left: -185px;
    height: calc(100% - 5%);
  }

  .sidebar a span{
    display: none;
  }

  .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }

  .content{
    margin-left: 60px;
  }

  .upperRow{
    margin-top: 25px;
  }

  .sidebar .profile_info{
    display: none;
  }

  #check{
    display: none;
  }
}

@media only screen and (max-width: 731px) {
  body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 3400px;
    /* background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-size: cover;
    height: 75vw; */
  }

  .sidebar{
    left: -185px;
    height: calc(100% - 15%);
  }

  .sidebar a span{
    display: none;
  }

  .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }

  .content{
    margin-left: 60px;
  }

  .sidebar .profile_info{
    display: none;
  }

  #check{
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 3200px;
  }

  .sidebar{
    left: -185px;
    height: calc(100% - 15%);
  }
}

@media only screen and (max-width: 411px) {
  body {
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 650vw;
  }
  .sidebar{
    left: -185px;
    height: calc(100% - 7%);
  }
}

@media only screen and (max-width: 360px) {
  body {
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 720vw;
  }
  .sidebar{
    left: -185px;
    height: calc(100% - 7%);
  }
}
/* @media only screen and (max-width: 360px) {
  .sidebar{
    height: calc(100% - 7%);
  }
} */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */