/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

body{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
  }
  
  header{
    position:fixed;
    /* background: #22242A; */
    background: rgba(34, 36, 42, 0.4);
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 60px;
    z-index: 1;
  }
  
  .left-area h3{
    color: #fff;
    margin-top: -30px;
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  
  .logout_btn{
    padding: 5px;
    background: #1b6101;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 2%;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  
  .logout_btn:hover{
    background: #6AEA81;
  }
  
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: rgba(34, 36, 42, 0.4);
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(94.5% - 7%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left:25%;
  }
  
  .sidebar a{
    color:#fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #32ad03;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #1b6101;
    position: fixed;
    cursor: pointer;
    left: 25px;
    font-size: 20px;
    margin-top: -10px;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #32ad03;
  }
  
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    padding: 20px;
    margin-left: 460px;
    height: 100vh;
    transition: 0.5s;
  }
  
  
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }

  #check:checked body {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1600px;
  }
  
  #check{
    display: none;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: 30px;
    align-items: 30px;
  }
  
  .text-p{
    text-decoration: none;
    color: #fff;
  }
  
  .text-p:hover{
    color:#185202;
  }
  
  .card{
    margin-top: 25%;
    text-align: center;
    background: rgba(34, 36, 42, 0.4);
  }
  
  .card .card-header{
    color: #fff;
  
  }
  
  
  
  #humidity{
    color:#78e6ff;
  }
  
  
  #sunlight{
    color: #fffc30;
  }
  
  
  #temperature{
    color:#fa7c41;
  }
  
  .dashboardpng{
    width: 80px;
  }
  
  .cropCard{
          background: rgba(255, 255, 255, 0.55);
          height: 23vw;
  }

  /* p{
      color: rgb(143, 126, 14);
      font-weight: bold;
  } */

  h4{
      color: #1b6101;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #1b6101;
  }
  
  .mbr-white{
      margin-top: 140px;
      margin-left: -200px;
  }

  .site-footer{
    background-color: rgb(34, 36, 42, 0.4);
    position: fixed;top: 635px;
    margin-left: -19px;
    padding-left: 80px;
    width: calc(100% - 0%);
}

.copyrightFont{
    /* margin-top: 1vw; */
    color: white;
}


  @media only screen and (max-width: 1024px) {
body {
  margin: 0;
  padding: 0;
  font-family:"Roboto", sans-serif;
  background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}

.cropCard{
  background: rgba(255, 255, 255, 0.55);
  height: 35vw;
}
.sidebar{
  height: calc(96.2% - 7%);
}

.aboutText{
  font-size: larger;
}
.site-footer{
  background-color: rgb(34, 36, 42, 0.4);
  position: fixed;top: 745px;
  margin-left: -19px;
  /* padding-left: 80px; */
  width: calc(101% - 0%);
}
  
.copyrightFont{
      /* margin-top: 1vw; */
    color: white;
}

  }

  @media only screen and (max-width: 768px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: auto;
    }

.cropCard{
  background: rgba(255, 255, 255, 0.55);
  height: 45vw;
  margin-left: -9vw;
}

.aboutText{
  font-size: x-large;
}
  .sidebar{
  left: -185px;
  height: 1000px;
  }
  
  .sidebar a span{
  display: none;
  }
  
  .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
  }
  
  .content{
  margin-left: 150px;
  }
  
  .sidebar .profile_info{
  display: none;
  }
  
  #check{
  display: none;
  } 
  .sidebar{
    height: calc(98.5% - 7%);
  }

  .site-footer{
    /* background-color: rgb(34, 36, 42, 0.4); */
    position: fixed;top: 997px;
    /* margin-left: -59px; */
    /* width: calc(125% - 0%); */
  }
    
.copyrightFont{
    /* color: white; */
    margin-left: -125px;
}  
  }

  @media only screen and (max-width: 731px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 79vw;
    }
    .sidebar{
      left: -185px;
      height: calc(100% - 15%);
    }

    .cropCard{
      background: rgba(255, 255, 255, 0.55);
      height: 35vw;
      margin-left: -6vw;
}
  }

  @media only screen and (max-width: 640px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 79vw;
    }
    .content{
      margin-left: 140px;
      }

    .display-2{
      font-size: x-large;
    }

    .cropCard{
      background: rgba(255, 255, 255, 0.55);
      height: 43vw;
  }

  .sidebar{
    height: calc(84.5% - 7%);
  }

  .site-footer{
    background-color: rgb(34, 36, 42, 0.4);
    position: fixed;top: 339px;
    /* width: 1350px;
    height: 25px; */
    margin-left: -12px;
    padding-left: 335px;
}
  }


  @media only screen and (max-width: 411px) {
    body {
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 200vw;
    }
    .sidebar{
      left: -185px;
      height: calc(100% - 7%);
    }

    .content{
      margin-left: 50px;
      }

    .cropCard{
      background: rgba(255, 255, 255, 0.55);
      height: 60vw;
      margin-left: 4vw;
}
  }

  @media only screen and (max-width: 360px) {


    .content{
      margin-left: 55px;
      }

    .cropCard{
      background: rgba(255, 255, 255, 0.55);
      height: 110vw;
}

    .sidebar{
      left: -185px;
      height: calc(94% - 7%);
    }

    .site-footer{
      background-color: rgb(34, 36, 42, 0.4);
      position: fixed;top: 617px;
      /* width: 1350px;
      height: 25px; */
      margin-left: -19px;
      padding-left: 80px;
  }
  }
  /* @media only screen and (max-width: 700px) {
    body {
      margin: 0;
      padding: 0;
      font-family:"Roboto", sans-serif;
      background: url(https://images.hdqwalls.com/download/green-horizon-hd-2560x1440.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 1525px;
    }
  
  
  .sidebar{
  left: -185px;
  height: 1000px;
  }
  
  .sidebar a span{
  display: none;
  }
  
  .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
  }
  
  .content{
  margin-left: 60px;
  }
  
  .sidebar .profile_info{
  display: none;
  }
  
  #check{
  display: none;
  }    
  } */
  